<div id="AboutBlock">
    <div id="CompanyName">О компании Индивидуальный предприниматель Бессонов Роман Юрьевич</div>
    <div id="CompanyProducts">
        <div id="ProductPreview">
            <img src="../../assets/pr1.jpg">
            <div id="PrName">Funko Pop Daeneris</div>
            <div id="PrPrice">950 руб.</div>
        </div>
        <div id="ProductPreview">
            <img src="../../assets/pr2.jpg">
            <div id="PrName">Funko Pop Thor реплика</div>
            <div id="PrPrice">650 руб.</div>
        </div>
        <div id="ProductPreview">
            <img src="../../assets/pr3.jpg">
            <div id="PrName">Funko Pop Yennefer</div>
            <div id="PrPrice">1050 руб.</div>
        </div>
        <div id="ProductPreview">
            <img src="../../assets/pr4.jpg">
            <div id="PrName">Funko Pop Ciri</div>
            <div id="PrPrice">950 руб.</div>
        </div>
    </div>
    <div id="CompanyDescription">
        Компания "BessCorp" - официальный поставщик игрушек Funko в России и странах НДС. Только у нас вы найдете
        не только оригинальные игрушки Funko POP и Funko Dorbz, но и реплики по более низким ценам, а также нераскрашенные модели специально для 
        тех, кто любит расскрашивать их сам.
    </div>
</div>