<div id="ClientBlock">
    <div id="TextInfo">
        <div id="ClientName">Индивидуальный предприниматель Бессонов Роман Юрьевич</div> 
        <div id="ClientContactes">
            <p><span class="Contactes">+79090035716</span><span  class="Contactes"><a href="">www.besscorp.com</a></span><span  class="Contactes"><a href="">romanbess55555@yandex.ru</a></span></p>
            <p><a href="">Информация о компании</a></p>
            <p><a href="">Показать реквизиты</a></p>
        </div> 
    </div>
    <figure id="Icon"><img src='../../assets/icon.png'></figure>            
  </div> 